.hero{
    background-image: url(./assets/hero-leaf1.png),url(./assets/hero-leaf2.png);
    background-repeat: no-repeat;
    background-position: left center,right center;
    background-size: auto;
}
.active{
    background-color: #00a63e;
    color: white;
}